
.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
	color: #fff;
	background-color: #102027;
}

.hljs-keyword {
	color: rgba(255, 110, 64, 1);
}
.hljs-operator {
	color: rgba(255, 204, 188, 1);
}
.hljs-pattern-match {
	color: rgba(255, 110, 64, 1);
}
.hljs-pattern-match .hljs-constructor {
	color: rgba(255, 110, 64, 1);
}
.hljs-function {
	color: rgba(176, 190, 197, 1);
}
.hljs-function .hljs-params {
	color: rgba(236, 239, 241, 1);
}
.hljs-function .hljs-params .hljs-typing {
	color: rgba(222, 193, 106);
}
.hljs-module-access .hljs-module {
	color: rgba(176, 190, 197, 1);
}
.hljs-constructor {
	color: rgba(176, 190, 197, 1);
}
.hljs-constructor .hljs-string {
	color: rgba(255, 158, 128, 1);
}
.hljs-comment,
.hljs-quote {
	color: rgba(207, 216, 220, 1);
	font-style: italic;
}
.hljs-doctag,
.hljs-formula {
	color: rgba(222, 193, 106);
}
.hljs-tag {
	color: rgba(255, 204, 188, 1);
}
.hljs-tag .hljs-name {
	color: rgba(222, 193, 106);
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: rgba(236, 239, 241, 1);
}
.hljs-literal {
	color: rgba(255, 110, 64, 1);
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
	color: rgba(255, 158, 128, 1);
}
.hljs-built_in,
.hljs-class .hljs-title {
	color: rgba(255, 110, 64, 1);
}
.hljs-attr {
	color: rgba(176, 190, 197, 1);
}

.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: rgba(236, 239, 241, 1);
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: #ffb300;
}
.hljs-emphasis {
	font-style: italic;
}
.hljs-strong {
	font-weight: bold;
}
.hljs-link {
	text-decoration: underline;
}
